<pre id="ferry-title">@Title</pre>
<div id="ferry-title-secondary">
    <pre id="ferry-image" />
    <pre id="ferry-subtitle">@SubTitle</pre>
    <pre id="ferry-image-inverted" />
</div>

<TerminalMessage CurrentTerminalState="Enums.TerminalStates.FerryToHelsinkiStart" OnTerminalStateChanged="@UpdateTerminalState" MessageService="@MessageService" />