@layout FerryToHelsinki.Shared.Layouts.Terminal
@page "/ferryterminal"

<div id="crt-tv">
    <div id="screen">
        <div id="window">
            @if (@CurrentTerminalState == Enums.TerminalStates.Opened)
            {
                <OpenedTerminal OnTerminalStateChanged="@UpdateTerminalState" />
            }
            else if (@CurrentTerminalState == Enums.TerminalStates.FerryToHelsinkiStart)
            {
                //<FerryStarted OnTerminalStateChanged="@UpdateTerminalState"/>
                <pre id="ferry-title">"Titular Title"</pre>
            }
            <div id="scanline" />
        </div>
    </div>
</div>
