@layout FerryToHelsinki.Shared.Layouts.Terminal
@using FerryToHelsinki.Shared.BaseComponents;

@implements IAsyncDisposable

@inherits TerminalStateComponent;

@if (ShouldRenderForTerminalState)
{
<div class="message-window">
    @MessagePrefix<span id="message" /><br>
</div>
}

