@using FerryToHelsinki.Shared.BaseComponents;
@implements IAsyncDisposable

@inherits TerminalStateComponent;

@if (ShouldRenderForTerminalState)
{
    <div class="message-window">
        @MessageService.MessagePrompt<span id="message" /><br>
    </div>
}

