@page "/fetchdata"

@using FerryToHelsinki.Data

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Messages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Message</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Messages)
            {
                <tr>
                    <td>@message.UserName</td>
                    <td>@message.MessageContents</td>
                </tr>
            }
        </tbody>
    </table>
}
